:host {
  display: block;
  flex: 1 1 0;
  width: calc(100% - 0px);
  align-self: center;
  position: relative;
  left: 0;
  top: 0;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 218px;
  max-width: 840px;
}

.tracks-tab {
  display: block;
  flex: 1 1 0;
  width: calc(100% - 0px);
  align-self: center;
  position: relative;
  left: 0;
  top: 0;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 218px;
  max-width: 840px;
}
